<!DOCTYPE html>
{% extends 'ac_admin/admin_complaint_index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block style %}
        .comp-table{margin-left:5%;}
        .comp-table th{font-size:20px;border-bottom:2px solid orange}
        .comp-table td{border-bottom:1px solid red;font-size:20px;}
        h1{color:green;}
    {% endblock %}

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% block body %}
                {% include 'ac_admin/admin_complaints_menu.html' %}
                <table class="comp-table">
                    <tr><th colspan="7"><h1>Assigned Complaints...!</h1></th></tr>
                    <tr>
                        <th width="100">Cmp_Id</th>
                        <th width="100">Citizen Id</th>
                        <th width="150">Complaint Date</th>
                        <th width="150">Message</th>
                        <th width="150">Department</th>
                        <th width="100">Status</th>
                        <th width="150">Image</th>
                    </tr>
                    {% for obj in object_list %}
                        <tr>
                            <td>{{ obj.comp_id }}</td>
                            <td>{{ obj.citz_id_id }}</td>
                            <td>{{ obj.cmp_date }}</td>
                            <td>{{ obj.message }}</td>
                            <td>{{ obj.dept_name_id }}</td>
                            <td>{{ obj.status }}</td>
                            <td><img src="{{ obj.image.url }}" width="100" height="100"></td>

                        </tr>
                    {% endfor %}
                </table>
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>