{#<!DOCTYPE html>#}
{#{% extends 'main_index.html' %}#}
{#{% load staticfiles %}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <style>#}
{##}
{#    </style>#}
{##}
{#<body>#}
{#{% block article %}#}
{#<table class="article-table">#}
{#                <tr>#}
{#                    <th><h1>Article Activity...!</h1></th>#}
{#                </tr>#}
{#                {% for art in art_list %}#}
{#                <tr>#}
{#                    <th>{{ art.name }}</th>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th>{{ art.art_date }}</th>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th>{{ art.message }}</th>#}
{#                </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{#{% endblock %}#}
{#</body>#}
{#</html>#}