<!DOCTYPE html>
{% extends 'ac_ngo/ngo_index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}
        .suggestion-table{margin-left: 20%}
        .suggestion-table th{padding: 5px; font-size: 20px;}
        h1{color: green;}
        hr.hr2{background-color: orange;height: 2px;}
    {% endblock %}
</head>
<body>
{% block body %}
<form action="{% url 'suggestion' %}" method="post">
{% csrf_token %}
    <table class="suggestion-table">
        <tr>
            <th colspan="2"><h1>Ngo Suggestion's ...!</h1><hr class="hr2"> </th>
        </tr>
        <tr>
            <th>Department :</th>
            <th>
                <select name="dept_name">
                    {% for obj in data1 %}
                        <option>{{ obj.dept_name }}</option>
                    {% endfor %}
                </select>
            </th>
        </tr>
        <tr>
            <th>Suggestion :</th>
            <th><textarea name="sugs_message" required></textarea></th>
        </tr>
        <tr>
            <th><button type="submit">suggestion</button></th>
        </tr>
    </table>
</form>
{% endblock %}
</body>
</html>