<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        /*Footer style*/
        .footer-p{font-size: 20px;margin-top:40px;}
        .footer{height: 50px;width: 100%;background-color: #b942f4;}
        {#hr.hrftr{background-color: red; height: 2.5px;}#}
    </style>
</head>
<body>
<div class="footer">
{#    <hr class="hrftr">#}
    <table align="center">
        <tr>
            <th><p class="footer-p">© 2019. sachin</p></th>
        </tr>
    </table>
</div>
</body>
</html>