<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        **{margin: 0px;padding: 0px;}
        .title{font-size: 60px;color: green;font-family: Algerian;}
        hr.hr1{background-color: red;height: 2px;}
    </style>
</head>
<body background="{% static 'images/indexback.gif' %}">
<table align="center">
<tr>
    <th><img src="{% static 'images/Active_logo2.jpg' %}" width="120" height="120"></th>
    <th><h1 class="title">Active City Administration</h1></th>
</tr>
</table><hr class="hr1">

</body>
</html>